<p>&copy; Copyright 2016, <span class="break"></span>EasyEatz Application. <span class="break"></span>
	<a href="http://michel-beaubien.com/" target="onblank">MB Development.</a> <span class="break"></span>All Rights Reserved.</p>