<ul>
	<a href="https://www.facebook.com/EasyEatzApp/" target="onblank">
		<li class="social facebook"></li>
	</a>
	<a href="https://twitter.com/Easy_Eatz" target="onblank">
		<li class="social twitter"></li>
	</a>
	<a href="https://www.instagram.com/easy_eatz/" target="onblank">
		<li class="social instagram"></li>
	</a>
</ul>

<p>&copy; Copyright 2016, <span class="break"></span>EasyEatz Application. 
	<span class="break firstBreak"></span>
	<a href="http://michel-beaubien.com/" target="onblank">MB Development.</a> 
	<span class="break"></span>All Rights Reserved.</p>