<div id="logoHolder">
<img src="/images/logoYellow.png" alt="EasyEats Logo">
</div>
<div class="mainTitle">
<h1><%= title %></h1>
<p>Easy as One, Two, Eat!</p>
</div>
<ul>
	<p>Share EasyEatz</p>
	<li class="social facebook"></li>
	<li class="social twitter"></li>
	<li class="social instagram"></li>
</ul>
<!--
<ul>
	<li><a style="color:white!important;" href="/">Login</a></li>
	<li><a style="color:white!important;" href="/signup">signup</a></li>
	<li><a style="color:white!important;" href="/budget">budget</a></li>
</ul>
-->

