<meta charset="UTF-8">
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/reset.css'>
<link rel='stylesheet' href='/stylesheets/style.css'>
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>