<div id="logoHolder">
<object data="/images/logo.svg" alt="EasyEats Logo">
<img src="/images/logo.png" alt="EasyEats Logo">
</object>
</div>
<div class="mainTitle">
<h1><%= title %></h1>
<p>Easy as One, Two, Eat!</p>
</div>

	<div id="userHolder">
      <div id="userPicHolder">
        <object data="images/icons/noThumb.svg">
          <img src="images/icons/noThumb.png" alt="Upload a Thumbnail"/>
        </object>
        <article>
          <h3><%= fullName %></h3>
          <p><%= userName %></p>
          <a href="/profilePicture">Upload Image</a>
        </article>
      </div>
  </div>

<div id="settings">
	<a href="/settings">
		<div>
			<object data="/images/icons/settings.svg">
				<img src="/images/icons/settings.png" alt="Settings">
			</object>
		</div>
		<span class="settingMobile">Settings</span>
	</a>
	<a href="/logout">
		<div>
			<object data="/images/icons/logout.svg">
				<img src="/images/icons/logout.png" alt="Logout">
			</object>
		</div>
		<span class="settingMobile">Logout</span>
	</a>
</div>