body
{
	background-color: #ebebeb;
	overflow-x: hidden;
	position: relative;
	min-height: 100vh;
	max-width: 1400px!important;
	margin: auto;
}

.hidden
{
	display: none;
}

object
{
	pointer-events: none;
	max-width: 100%;
}

img
{
	max-width: 100%!important;
}

#padding
{
	padding-bottom: 55px;/*this is NEEDED to keep the footer down while its in absolute postion!!!*/
	position: relative;
}

h1,h2,h3,h4,h5,h6,label,button
{
	font-family: 'Lato', sans-serif;
}

p,a,input,select,span
{
	font-family: 'Quicksand', sans-serif;
}

a
{
	text-decoration: none;
	color: #006699;
}

.remove
{
	display: none!important;
}

.appear
{
	display: block!important;
}

header
{
	background-color: #006699;
	padding: 1%;
	width: 98%;
	color: #ffcc00;
	overflow: hidden;
}

#logoHolder object,#logoHolder img
{
	float: left;
	width: 10%;
}

.mainTitle
{
	width: 80%;
	text-align: center;
	float: left;
}

.mainTitle h1
{
	font-size: 1.7em;
	border-bottom: thin solid white;
	width: 30%;
	display: block;
	margin: auto;
	padding-bottom: 8px;
	margin-bottom: 8px;
}

.mainTitle p
{
	font-size: 1.2em;
	display: block;
	text-align: center;
	margin: auto;
	width: 50%;
}

#settings
{
	float: left;
	width: 10%;
	text-align: center;
	overflow: hidden;
}

#settings a
{
	display: block;
	width: 100%;
	float: none;
	text-align: right;
}

#settings a:first-child
{
	margin-bottom: 5px;
}

.settingMobile
{
	display: none;
	color: #ffcc00;
	font-weight: bold;
}

footer
{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
	width:98%;
	background-color: #006699;
	padding: 1%;
	color: #ffcc00;
	text-align: right;
}

.errMsgs
{
	text-align: center;
	color: #006699;
	line-height: 35px;
	display: block;
}

.firstBreak
{
	display: block;
}

footer a
{
	color: #ffcc00;
	font-weight: bold;
}

footer a:hover
{
	color: white;
}

#logout
{
	position: absolute;
	top: 0;
	right: 20px;
	width: 50px;
	height: 50px;
	background-image: url(../images/icons/logout.svg);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: contain;
}

#logout:hover
{
	background-image: url(../images/icons/logoutHover.svg);
}


/*****************************user thumbnail and info container****************************/
#userHolder
{
	position: absolute;
	top: 2%;
	right: 5%;
	z-index: 0;
  width: 400px;
	text-align: right;
	clear: both;
	overflow: hidden;
}

#userPicHolder
{
	clear: both;
	float: right;
}

#userPicHolder img
{
	float: right;
	max-width: 75px;
	width: 73px;
	border: 2px solid #ffcc00;
	-webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
	-moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
	-o-box-shadow: 0 0 2px rgba(255,255,255,.5);
	box-shadow: 0 0 2px rgba(255,255,255,.5);
	border-radius: 50%;
}

#userPicHolder article
{
	width: 300px;
	float: right;
	height: 75px;
	padding-right: 5px;
	margin-right: 5px;
	border-right: thin solid #ffcc00;
}

#userPicHolder article h3
{
	font-size: 15px;
	letter-spacing: 1px;
}

#userPicHolder article p
{
	font-size: 15px;
}

#userPicHolder article a
{
	color: #ffcc00;
	display: block;
	font-size: 15px;
  font-weight: bold;
}

#userPicHolder a:hover
{
	color: white;
}

#userPicHolder article h3,#userPicHolder article p,#userPicHolder article a
{
	padding: 5px 0;
}

.noThumb
{
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	display: none;
}

.noThumb object, .noThumb img
{
	max-width: 75px;
	float: right;
}

.noThumb article
{
	float: right;
	width: 200px;
	padding-right: 5px;
	margin-right: 5px;
	height: 75px;
	border-right: thin solid #ffcc00;
}

.noThumb article h3
{
	padding-top: 27.5px;
	color: #ffcc00;
}



/*****************************login and register buttons*****************************/
#intro
{
	width: 100%;
	background-color: #ffcc00;
	margin: auto;
	padding: 10px 0;
	overflow: hidden;
	text-align: center;
}

#intro h3
{
	text-align: center;
	color: #006699;
	font-size: 2em;
	padding: 0 0 10px 0;
	border-bottom: thin solid white;
	margin-bottom: 10px;
}

#intro a
{
	display: inline-block;
	width: 20%;
	font-weight: bold;
	font-size: 1.3em;
	margin: 0 10px;
	background-color: #006699;
	color: white;
	border: thin solid rgba(0,0,0,.0);
	padding: 10px 0;
	border: thin solid rgba(0,0,0,.0);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	border-radius: 5px;
}

#intro a:hover
{
	background: rgba(255,255,255,.5);
	border-color: #006699;
	color: #006699;
}

/***********BANNER****************/
#openingBanner
{
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
}

.opening
{
	position: absolute;
	z-index: 1;
	width: 25%;
	overflow: hidden;
}

.bannerContent
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background:rgba(235,235,235,.8);
	color: #006699;
	font-size: 1.4em;
	font-weight: bold;
	padding: 45% 0;
	opacity: 0;
	-webkit-opacity:0;
	-moz-opacity:0;
	-o-opacity:0;
}

.moneySVG
{
	left:-10000px;
	top: 0;
}

.refreshSVG
{
	top: 0;
	left: 37.5%;
	opacity: 0;
	-webkit-opacity:0;
	-moz-opacity:0;
	-o-opacity:0;
}

.happySVG
{
	right: -10000px;
	top: 0;
}

.mobileMoney,.mobileRefresh,.mobileHappy
{
	display: none;
	opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-o-opacity: 0;
}



/*****************************SOCIAL ICONS******************************/

footer ul
{
	text-align: center;
}

footer li
{
	width: 32px;
	height: 32px;
	display: block;
	float: left;
	margin-right: 15px;
	border-radius: 50%;
}

.social
{
	background: url(../images/icons/socialSprite.png) no-repeat;
}

.facebook{ background-position: 0px 0px;}
.facebook:hover{ background-position: 0px -32px; }

.twitter{ background-position: -32px 0px;}
.twitter:hover{ background-position: -32px -32px; }

.instagram{ background-position: -64px 0px; margin: 0;}
.instagram:hover{ background-position: -64px -32px; }

/***********************FORMS******************************/

.settingForms fieldset input
{
	margin: auto;
	display: block;
}

.forms
{
	width: 45%;
	background-color: #ffcc00;
	border-radius: 5px;
	border:thin solid #006699;
	margin: 20px auto;
	padding-bottom: 10px;
	overflow: hidden;
}

.forms h1
{
	text-align: center;
	color: #006699;
	font-size: 2em;
	padding: 10px 0;
	border-bottom: thin solid white;
	margin-bottom: 10px;
}

.forms label
{
	color: #006699;
	font-weight: bold;
	font-size: 1.2em;
	display: block;
	margin-bottom: 5px;
}

.forms input
{
	width: 78%;
	padding: 1%;
	font-size: 1.2em;
	border: none;
	border: thin solid rgba(0,0,0,.0);
}

.forms input:hover
{
	border-color: #006699;
}

.forms input:focus
{
	border: thin solid #006699;
	border-radius: 5px;
}

.forms fieldset
{
	margin-bottom: 10px;
}

.mainButton
{
	width: 40%!important;
	margin: auto;
	display: block;
	background-color: #006699;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	border: thin solid rgba(0,0,0,.0);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
}

.mainButton:hover
{
	background: rgba(255,255,255,.5);
	border-color: #006699;
	color: #006699;
}

#loginForm fieldset
{
	width: 50%;
	float: left;
	text-align: center;
}

#loginForm
{
	text-align: center;
}

.twoButtons
{
	background-color: #006699;
	border: none;
	color: white;
  width: 40%!important;
	margin: 0 10px;
	display: inline-block;
	font-size: 1.2em;
	padding: 10px 0;
	border-radius: 5px;
	cursor: pointer;
	border: thin solid rgba(0,0,0,.0);
	font-weight: bold;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.twoButtons:hover
{
	border-radius: 5px;
	background: rgba(255,255,255,.5);
	color: #006699;
	border-color: #006699;
}

/******Sign up form*****/
#signUpForm fieldset
{
	width: 50%;
	float: left;
	text-align: center;
}

.neverMind
{
	color: white;
	background-color: #006699;
	padding: 5px 10px;
	border-radius: 5px;
	border: thin solid rgba(0,0,0,.0);
	font-weight: bold;
	display: block;
	margin: auto;
	width: 20%;
	text-align: center;
	margin-top: 10px;
}

.neverMind:hover
{
	background: rgba(255,255,255,.5);
	color: #006699;
	border-color: #006699;
}

#SIGNUP
{
	clear: both;
}

/**FAVS**/

.favoriteSelector
{
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
	float: left;
	margin-left: 10px;
	width: -moz-max-content;
	margin-bottom: 10px;
}

.favoriteSelector select
{
	padding:10px;
	text-align: center;
	margin:-5px -20px -5px -5px;
}

.favoriteSelector select option
{
	padding: 5px 50px;
}

#favButton
{
	cursor: pointer;
	width: 40%;
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
	background-color: #006699;
	clear: both;
	padding: 10px 0;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	border: thin solid rgba(0,0,0,.0);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
}

#favButton:hover
{
	background: rgba(255,255,255,.5);
	border-color: #006699;
	color: #006699;
}

.type-true
{
	
}

#proFavs
{
	float: right;
	margin-right: 10px;
	width: 50%;
	text-align: center;
	color: #ffcc00;
	font-size: 1.2em;
	padding: 10% 0;
	font-weight: bold;
	background-color: #006699;
}

#EMAIL
{
	width: 100%!important;
}


/******Budget form*****/

#budgetForm input
{
	width: 100%;
	text-align: center;
}

#budgetForm label
{
	font-size: 1.4em;
	margin-bottom: 10px;
}

#budgetForm fieldset
{
	text-align: center;
}

#budgetInput
{
	display: block;
}

#budgetInput input
{
	width: 40%;
}

#budgetWrapper
{
	display: none;
}

#userWelcome
{
	font-size: 1.4em;
	padding-bottom: 10px;
	border-bottom: thin solid white;
}

#userWelcome span
{
	text-transform: uppercase;
	font-weight: bold;
}

.opac
{
	-webkit-opacity: 1!important;
	-moz-opacity: 1!important;
	-o-opacity: 1!important;
	opacity: 1!important;
	margin-bottom: 10px;
	background-color: #006699;
	padding: 2% 0;
}

#moneyOnly
{
	width: 100%;
	text-align: center;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	margin-bottom: 10px;
}

#moneyOnly p
{
	color: #ffcc00;
	font-weight: bold;
	font-size: 1.4em;
}

/*****restaurants page*****/
#restaurantsHolder
{
  text-align: center;
	width: 100%;
	border-radius: 0;
	border: none;
	margin: 0;
position: relative;
}

#restaurantsHolder h1
{
	color: #006699;
	font-size: 1.6em;
	margin-bottom: 0;
	border-bottom: none;
}

.infoWindow
{
	width: 200px;
	overflow: auto;
}

.infoWindow h1
{
	font-weight: bold;
	color: #006699;
	font-size: 1.4em;
	border-bottom: thin solid #006699;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.infoWindow span
{
  display: block;
	padding: 5px 0!important;
	background-color: #ffcc00;
	font-size: 1.2em!important;
}

.infoWindow p
{
	padding: 5px 0!important;
}

.infoWindow a
{
	padding: 5px 0!important;
	background-color: #ffcc00;
	display: block;
}

.infoWindow a:hover
{
	background-color: #006699;
	color: #ffcc00;
	font-weight: bold;
}

.mapHolder
{
	clear: both;
	width: 90%;
	margin: auto;
	margin-top: 10px;
	display: block;
	border-radius: 5px;
}

#map
{
	width: 100%;
}

.mapGrow
{
	width: 100%;
	min-height: 500px;
	border-radius: 5px;
	border: thin solid #006699;
}

.markerLabels
{
	color: white;
	background-color: black;
	padding-top: 1%;
	border-radius: 50%;
	margin: 0;
}

#backFinder
{
	position: absolute;
	top: 5px;
	left: 5px;
}

#spendingCon, .foundYou, #tuner
{
	display: inline-block;
	background-color: #006699;
	padding: 2% 0;
	color: #ffcc00;
	text-align: center;
	border-radius: 5px;
}

#spendingCon p, .foundYou p ,#tuner p
{
	font-family: 'Lato', sans-serif;
	font-size: 1.1em;
}

#spendingCon,.foundYou,#tuner
{
	width: 30%;
}

#tuner
{
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

#tuner:hover
{
	background:rgba(0,102,153,.8);
}

.foundYou span
{
  position: absolute;
	top: 15px;
	right: 15px;
	z-index: 0;
	color: #006699;
	font-weight: bold;
}

/***************************SETTINGS PAGE**************************************/
#settingList object, #settingList img
{
  width: 370px;
}

#settingsBody
{
	background-color: #ffcc00;
}

#settingList
{
  width: 100%;
	background-color: #ffcc00;
	padding: 5% 0 0 0;
	text-align: center;
	overflow: hidden;
	position: relative;
}

#settingList div
{
  display: inline-block;
	width: 22%;
	margin: 0 1%;
	position: relative;
}

span.text-content
{
position: absolute;
width: 100%;
top: 0;
left: 0;
background-color: rgba(255,204,0,.7);
font-size: 2.8em;
font-weight: bold;
padding: 35% 0;
	height: 100%;
opacity: 0;
  -moz-opacity:0;
  -webkit-opacity:0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

#settingList div:hover span.text-content {
  opacity: 1;
    -moz-opacity:1;
    -webkit-opacity:1;
}

.goBack
{
	position: absolute;
	top: 2%;
	right: 1%;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}



/*****************RESET FORM*******************/
.resetForm
{
	padding-top: .5%;
}

.resetForm label
{
	text-align: center;
}

.resetForm input
{
	margin: auto;
	display: block;
}

.error
{
	display: block;
	padding: 10px 0;
	background-color: #006699;
	text-align:center;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 10px;
}

/************************MESSAGES****************************/
.messagesHolder
{
	position: relative;
	clear: both;
	width: 98%;
	margin: 0;
	padding: 16% 1%;
	background-color: #ffcc00;
}

.messagesHolder p
{
	text-align: center;
	font-size: 2.2em;
	line-height: 50px;
	color: #006699;
	font-weight: bold;
}

.messagesHolder a
{
	position: absolute;
	bottom: 20%;
	left: 47.5%;
	width: 5%;
	text-align: center;
}

.emailSent
{
	padding: 14% 1%!important;
}

/************************upload image****************************/
#uploadForm input:nth-child(2)
{
	clear: both;
	margin: auto;
	display: block;
	margin-bottom: 5px;
	text-align: center;
}

#uploadForm input:nth-child(2):hover
{
	border:none;
}

/************************FAVORITES***************************/

.type-true .fav-content
{
	opacity: 1;
    -moz-opacity:1;
    -webkit-opacity:1;
}

.type-true .checked
{
	opacity: 1;
    -moz-opacity:1;
    -webkit-opacity:1;
}

.type-true .activeType
{
	color: #ffcc00;
	background-color: #006699;
}

#favHolder
{
	position: relative;
	width: 100%;
	display: block;
}

.favForm
{
	width: 100%;
	clear: both;
	position: relative;
	overflow: hidden;
	background-color: #ffcc00;
}

span.fav-content
{
position: absolute;
	color: #006699;
width: 100%;
top: 0;
left: 0;
background-color: rgba(255,204,0,.7);
font-size: 1.3em;
padding: 40% 0;
font-weight: bold;
opacity: 0;
  -moz-opacity:0;
  -webkit-opacity:0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.favForm li:hover span.fav-content {
  opacity: 1;
    -moz-opacity:1;
    -webkit-opacity:1;
}

.checked
{
	position: absolute;
	width: 50%;
	top: 20%;
	left: 25%;
	z-index: 2;
	opacity: 0;
  -moz-opacity:0;
  -webkit-opacity:0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.selected
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	color: #006699;
	background-color: #ffcc00;
	padding: 5% 6%;
  border-radius: 50%;
	font-weight: bold;
}

.slide
{
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.slide:hover
{
   -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#favSubmit
{
	position: absolute;
	bottom: 0;
	left: 25%;
	z-index: 1;
	background: rgba(0,102,153,.8);
	border: none;
	padding: 0!important;
	margin: 0!important;
	color: #fff;
	width: 50%;
	font-size: 2em;
	font-weight: bold;
	display: none;
	cursor: pointer;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#favSubmit:hover
{
	font-size: 2.2em;
}

.relative
{
	position: relative;
}


/*************************UPDATE PROFILE*******************************/
#updateProfileCon input
{
	display: block;
	text-align: center;
	font-size: 1.3em;
	margin: auto;
}

#updateProfileCon label
{
	width: 100%;
	text-align: center;
	display: block;
}

#updateProfileCon
{
	width: 80%;
	text-align: center;
}

#updateProfileCon fieldset
{
	width: 45%;
	display: inline-block;
}

.updatePad
{
	padding-bottom: 70px!important;
}

.confirm
{
	margin-bottom: 10px!important;
}

.msg-block
{
	clear: both;
	width: 100%;
	display: block;
}

.msg-block span
{
	width: 100%;
	display: block;
	font-size: 1.5em;
	background-color: #aa1111;
	padding: 15px 0;
	text-align: center;
	margin-bottom: 10px;
	color: white;
	font-weight: bold;
}

/**************************DELETE PAGE*****************/

#deleteForm
{
	width: 100%;
	background-color: #ffcc00;
	text-align: center;
	overflow: hidden;
	clear: both;
	color: #006699;
	position: relative;
	padding: 6% 0;
}

#deleteForm p{
	position: absolute;
	top: 1%;
	left: 0;
	padding: 10px 0;
	z-index: 1;
	width: 100%;
	font-size: 2.3em;
	font-weight: bold;
	opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-o-opacity: 0;
}

#nukeButton, #abort
{
	border: none;
	border-radius: 50%;
	background-color: #095e7f;
	padding: 0;
	cursor: pointer;
	display: inline-block;
	margin: 0 30px;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-o-opacity: 0;
	width: 300px;
}

#nukeButton:hover, #abort:hover
{
	box-shadow: 0 0 10px rgba(51,51,51,.8)
}


/**************************DELETE PAGE*****************/


/*My Phone*/
@media only screen and (max-width: 240px) {
	
	/*Main importants*/
	
	.signPad
	{
		padding-bottom: 130px!important;
	}
	
	#padding
	{
		padding-bottom: 130px;
	}
	
	#logoHolder object,#logoHolder img
	{
		width: 40%;
		float: none;
		margin: 5px auto;
		display: block;
	}
	
	header ul
	{
		width: 90%;
		float: none;
		margin: 10px auto;
	}
	
	header li
	{
		margin: 0 10px;
	}
	
	header ul p
	{
		display: none;
	}
	
	.mainTitle
	{
		width: 100%;
		float: none;
	}
	
	.mainTitle h1
	{
		width: 100%;
	}
	
	.mainTitle p
	{
		width: 100%;
		margin-bottom: 5px;
	}
	
	.break
	{
		display: block;
	}
	
	footer
	{
		text-align: center;
	}
	
	footer ul
	{
		overflow: hidden;
	}
	
	footer li
	{
		display: inline-block;
		float: none;
		margin: 5px 10px!important;
	}
	
	footer p
	{
		line-height: 20px;
	}
	
	p,a,input,select
	{
	 font-size: 1em!important;	
	}
	
	h1,h2,h3,h4,h5,h6,label,button
	{
		font-size: 1.1em!important;
	}
	
	/*Main importants*/
	
	/*FORMS and OPTIONS*/
	
  #intro a
	{
		width: 90%;
		margin: 0 0 10px 0;
	}
	
	#intro a:last-child
	{
		margin: 0;
	}
	
	.forms
	{
		width: 100%;
		margin: 0;
		border-radius: 0;
		border: none;
	}
	
	.forms fieldset
	{
		width: 100%!important;
	}
	
	.forms input
	{
	 width: 80%!important;
	}
	
	.neverMind
	{
		width: 70%;
	}
	
	.options
	{
		width: 100%;
	}
	
	.options select
	{
		width: 80%;
	}
	
	.options label
	{
		font-size: 1em!important;
	}
	
	/*FORMS and OPTIONS*/
	
	/*BUTTONS*/
	
	.twoButtons
	{
		float: none;
	}
	
	/*BUTTONS*/
	
	/*Error Msgs*/
	
	.errMsgs
	{
		font-size: .9em!important;
		line-height:23px;
	}
	
	/*Error Msgs*/
	
	/*User Thumb and Settings*/
	
	#settings
{
	float: none;
	width: 100%;
	padding-top:10px;
	border-top: thin solid white;
}
	
  .settingMobile
	{
		display: block;
	}

#settings a
{
	display: inline-block;
	width:40%;
	text-align: center;
}
	
	#userHolder
{
	position: static;
  width: 100%;
	text-align: center;
	clear: both;
	border-top: thin solid white;
	margin-top: 10px;
	padding: 10px 0;
}

#userPicHolder
{
	text-align: center;
	width: 100%;
}

#userPicHolder img
{
	float: none;
}

#userPicHolder article
{
	width: 100%;
	margin: 0;
	padding: 0;
	border-right: none;
}
	
	/*User Thumb and Settings*/
	
	/*BUDGET MONEY*/
	
	#moneyOnly
	{
		font-size: .6em;
	}
	
	/*BUDGET MONEY*/
	
	/*Go Back*/
	
	.goBack
	{
		position: static;
   margin: auto;
		display: block;
		width: 40px;
	}
	
	/*Go Back*/
	
	/*BANNER*/
	
	.bannerContent
	{
		font-size: .7em;
		padding: 30px 0;
	}
	
	.moneySVG,.refreshSVG,.happySVG
	{
		display: none;
	}
	
	.mobileMoney,.mobileRefresh,.mobileHappy
	{
		width: 35%;
		display: block;
	}
	
	.mobileMoney
	{
		left: 32.5%;
	}
	
	.mobileRefresh
	{
		top: 70px;
		left: 5px;
	}
	
	.mobileHappy
	{
		right: 5px;
		top: 70px;
	}
	
	/*BANNER*/
	
	/*SETTING*/
	
	#settingList div
	{
	 width: 70%;
		margin: 10px 0;
	}
	
	span.text-content
	{
		font-size: 1.3em;
	 position: static;
		opacity: 1;
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-o-opacity: 1;
		background: none;
	}
	
	#settingPad
	{
		padding-bottom: 130px;
	}
	
	/*SETTING*/
	
	/*UPDATE PRO*/
	
	#updateProfileCon
	{
		width: 100%;
	}
	
	#updateProfileCon fieldset
	{
		width: 100%;
		float: none;
	}
	
	#updatePad
	{
		padding-bottom: 130px;
	}
	
	/*UPDATE PRO*/
	
	#noMember
	{
		width: 80%!important;
		margin-bottom: 10px;
	}
}

/*Android*/
@media only screen and (min-width:241px) and  (max-width: 266px) {
		/*Main importants*/
	#padding
	{
		padding-bottom: 350px!important;
	}
	
	#logoHolder object,#logoHolder img
	{
		width: 40%;
		float: none;
		margin: 5px auto;
		display: block;
	}
	
	header ul
	{
		width: 90%;
		float: none;
		margin: 10px auto;
	}
	
	header li
	{
		margin: 0 10px;
	}
	
	header ul p
	{
		display: none;
	}
	
	.mainTitle
	{
		width: 100%;
		float: none;
	}
	
	.mainTitle h1
	{
		width: 100%;
	}
	
	.mainTitle p
	{
		width: 100%;
		margin-bottom: 5px;
	}
	
	.break
	{
		display: block;
	}
	
	footer
	{
		text-align: center;
	}
	
	footer ul
	{
		overflow: hidden;
	}
	
	footer li
	{
		display: inline-block;
		float: none;
		margin: 5px 10px!important;
	}
	
	footer p
	{
		line-height: 20px;
	}
	
	p,a,input,select
	{
	 font-size: 1em!important;	
	}
	
	h1,h2,h3,h4,h5,h6,label,button
	{
		font-size: 1.1em!important;
	}
	
	/*Main importants*/
	
	/*FORMS and OPTIONS*/
	
  #intro a
	{
		width: 90%;
		margin: 0 0 10px 0;
	}
	
	#intro a:last-child
	{
		margin: 0;
	}
	
	.forms
	{
		width: 100%;
		margin: 0;
		border-radius: 0;
		border: none;
	}
	
	.forms fieldset
	{
		width: 100%!important;
	}
	
	.forms input
	{
	 width: 80%!important;
	}
	
	.neverMind
	{
		width: 70%;
	}
	
	.options
	{
		width: 100%;
	}
	
	.options select
	{
		width: 80%;
	}
	
	.options label
	{
		font-size: 1em!important;
	}
	
	/*FORMS and OPTIONS*/
	
	/*BUTTONS*/
	
	.twoButtons
	{
		float: none;
	}
	
	/*BUTTONS*/
	
	/*Error Msgs*/
	
	.errMsgs
	{
		font-size: .9em!important;
		line-height:23px;
	}
	
	/*Error Msgs*/
	
	/*User Thumb and Settings*/
	
	#settings
{
	float: none;
	width: 100%;
	padding-top:10px;
	border-top: thin solid white;
}
	
  .settingMobile
	{
		display: block;
	}

#settings a
{
	display: inline-block;
	width:40%;
	text-align: center;
}
	
	#userHolder
{
	position: static;
  width: 100%;
	text-align: center;
	clear: both;
	border-top: thin solid white;
	margin-top: 10px;
	padding: 10px 0;
}

#userPicHolder
{
	text-align: center;
	width: 100%;
}

#userPicHolder img
{
	float: none;
}

#userPicHolder article
{
	width: 100%;
	margin: 0;
	padding: 0;
	border-right: none;
}
	
	/*User Thumb and Settings*/
	
	/*BUDGET MONEY*/
	
	#moneyOnly
	{
		font-size: .7em;
	}
	
	/*BUDGET MONEY*/
	
	/*Go Back*/
	
	.goBack
	{
		position: static;
   margin: auto;
		display: block;
		width: 40px;
	}
	
	/*Go Back*/
	
	/*BANNER*/
	
	.bannerContent
	{
		font-size: .7em;
		padding: 30px 0;
	}
	
	.moneySVG,.refreshSVG,.happySVG
	{
		display: none;
	}
	
	.mobileMoney,.mobileRefresh,.mobileHappy
	{
		width: 35%;
		display: block;
	}
	
	.mobileMoney
	{
		left: 32.5%;
		top: 10px;
	}
	
	.mobileRefresh
	{
		top: 110px;
		left: 15px;
	}
	
	.mobileHappy
	{
		right: 15px;
		top: 110px;
	}
	
	/*BANNER*/
	
	/*SETTING*/
	
	#settingList div
	{
	 width: 70%;
		margin: 10px 0;
	}
	
	span.text-content
	{
		font-size: 1.3em;
		position: static;
		opacity: 1;
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-o-opacity: 1;
		background: none;
	}
	
	#settingPad
	{
		padding-bottom: 130px!important;
	}
	
	/*SETTING*/
	
	/*UPDATE PRO*/
	
	#updateProfileCon
	{
		width: 100%;
	}
	
	#updateProfileCon fieldset
	{
		width: 100%;
		float: none;
	}
	
	#updatePad
	{
		padding-bottom: 130px;
	}
	
	/*UPDATE PRO*/
	
	#noMember
	{
		width: 80%!important;
		margin-bottom: 10px;
	}
}

/*iPhone4*/
@media only screen and (min-width: 267px) and (max-width: 320px) {
		/*Main importants*/
	#padding
	{
		padding-bottom: 370px!important;
	}
	
	#logoHolder object,#logoHolder img
	{
		width: 40%;
		float: none;
		margin: 5px auto;
		display: block;
	}
	
	header ul
	{
		width: 90%;
		float: none;
		margin: 10px auto;
	}
	
	header li
	{
		margin: 0 10px;
	}
	
	header ul p
	{
		display: none;
	}
	
	.mainTitle
	{
		width: 100%;
		float: none;
	}
	
	.mainTitle h1
	{
		width: 100%;
	}
	
	.mainTitle p
	{
		width: 100%;
		margin-bottom: 5px;
	}
	
	.break
	{
		display: block;
	}
	
	footer
	{
		text-align: center;
	}
	
	footer ul
	{
		overflow: hidden;
	}
	
	footer li
	{
		display: inline-block;
		float: none;
		margin: 5px 10px!important;
	}
	
	footer p
	{
		line-height: 20px;
	}
	
	p,a,input,select
	{
	 font-size: 1em!important;	
	}
	
	h1,h2,h3,h4,h5,h6,label,button
	{
		font-size: 1.3em!important;
	}
	
	/*Main importants*/
	
	/*FORMS and OPTIONS*/
	
  #intro a
	{
		width: 90%;
		margin: 0 0 10px 0;
	}
	
	#intro a:last-child
	{
		margin: 0;
	}
	
	.forms
	{
		width: 100%;
		margin: 0;
		border-radius: 0;
		border: none;
	}
	
	.forms fieldset
	{
		width: 100%!important;
	}
	
	.forms input
	{
	 width: 80%!important;
	}
	
	.neverMind
	{
		width: 70%;
	}
	
	.options
	{
		width: 100%;
	}
	
	.options select
	{
		width: 80%;
	}
	
	.options label
	{
		font-size: 1em!important;
	}
	
	/*FORMS and OPTIONS*/
	
	/*BUTTONS*/
	
	.twoButtons
	{
		float: none;
	}
	
	/*BUTTONS*/
	
	/*Error Msgs*/
	
	.errMsgs
	{
		font-size: .9em!important;
		padding: 0 10px;
		line-height:23px;
	}
	
	/*Error Msgs*/
	
	/*User Thumb and Settings*/
	
	#settings
{
	float: none;
	width: 100%;
	padding-top:10px;
	border-top: thin solid white;
}
	
  .settingMobile
	{
		display: block;
	}

#settings a
{
	display: inline-block;
	width:40%;
	text-align: center;
}
	
	#userHolder
{
	position: static;
  width: 100%;
	text-align: center;
	clear: both;
	border-top: thin solid white;
	margin-top: 10px;
	padding: 10px 0;
}

#userPicHolder
{
	text-align: center;
	width: 100%;
}

#userPicHolder img
{
	float: none;
}

#userPicHolder article
{
	width: 100%;
	margin: 0;
	padding: 0;
	border-right: none;
}
	
	/*User Thumb and Settings*/
	
	/*BUDGET MONEY*/
	
	#moneyOnly
	{
		font-size: .8em;
	}
	
	/*BUDGET MONEY*/
	
	/*Go Back*/
	
	.goBack
	{
		position: static;
   margin: auto;
		display: block;
		width: 40px;
	}
	
	/*Go Back*/
	
	/*BANNER*/
	
	.bannerContent
	{
		font-size: .8em;
		padding: 40px 0;
	}
	
	.moneySVG,.refreshSVG,.happySVG
	{
		display: none;
	}
	
	.mobileMoney,.mobileRefresh,.mobileHappy
	{
		width: 35%;
		display: block;
	}
	
	.mobileMoney
	{
		left: 32.5%;
		top: 10px;
	}
	
	.mobileRefresh
	{
		top: 120px;
		left: 15px;
	}
	
	.mobileHappy
	{
		right: 15px;
		top: 120px;
	}
	
	/*BANNER*/
	
	/*SETTING*/
	
	#settingList div
	{
	 width: 70%;
		margin: 10px 0;
	}
	
	span.text-content
	{
		font-size: 1.5em;
		position: static;
		opacity: 1;
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-o-opacity: 1;
		background: none;
	}
	
	#settingPad
	{
		padding-bottom: 130px;
	}
	
	/*SETTING*/
	
	/*UPDATE PRO*/
	
	#updateProfileCon
	{
		width: 100%;
	}
	
	#updateProfileCon fieldset
	{
		width: 100%;
		float: none;
	}
	
	#updatePad
	{
		padding-bottom: 130px;
	}
	
	/*UPDATE PRO*/
	
	#noMember
	{
		width: 80%!important;
		margin-bottom: 10px;
	}
}

/*Blackberry*/
@media only screen and (min-width: 321px) and (max-width: 379px) {
		/*Main importants*/
	#padding
	{
		padding-bottom: 400px!important;
	}
	
	#logoHolder object,#logoHolder img
	{
		width: 30%;
		float: none;
		margin: 5px auto;
		display: block;
	}
	
	header ul
	{
		width: 90%;
		float: none;
		margin: 10px auto;
	}
	
	header li
	{
		margin: 0 10px;
	}
	
	header ul p
	{
		display: none;
	}
	
	.mainTitle
	{
		width: 100%;
		float: none;
	}
	
	.mainTitle h1
	{
		width: 100%;
	}
	
	.mainTitle p
	{
		width: 100%;
		margin-bottom: 5px;
	}
	
	.break
	{
		display: block;
	}
	
	footer
	{
		text-align: center;
	}
	
	footer ul
	{
		overflow: hidden;
	}
	
	footer li
	{
		display: inline-block;
		float: none;
		margin: 5px 10px!important;
	}
	
	footer p
	{
		line-height: 20px;
	}
	
	p,a,input,select
	{
	 font-size: 1em!important;	
	}
	
	h1,h2,h3,h4,h5,h6,label,button
	{
		font-size: 1.3em!important;
	}
	
	/*Main importants*/
	
	/*FORMS and OPTIONS*/
	
  #intro a
	{
		width: 40%;
		margin: 0;
	}
	
	#intro a:last-child
	{
		margin: 0;
	}
	
	.forms
	{
		width: 100%;
		margin: 0;
		border-radius: 0;
		border: none;
	}
	
	.forms fieldset
	{
		width: 100%!important;
	}
	
	.forms input
	{
	 width: 80%!important;
	}
	
	.neverMind
	{
		width: 70%;
	}
	
	.options
	{
		width: 100%;
	}
	
	.options select
	{
		width: 80%;
	}
	
	.options label
	{
		font-size: 1em!important;
	}
	
	/*FORMS and OPTIONS*/
	
	/*BUTTONS*/
	
	.twoButtons
	{
		float: none;
	}
	
	/*BUTTONS*/
	
	/*Error Msgs*/
	
	.errMsgs
	{
		font-size: 1em!important;
		padding: 0 10px;
		line-height:23px;
	}
	
	/*Error Msgs*/
	
	/*User Thumb and Settings*/
	
	#settings
{
	float: none;
	width: 100%;
	padding-top:10px;
	border-top: thin solid white;
}
	
  .settingMobile
	{
		display: block;
	}

#settings a
{
	display: inline-block;
	width:40%;
	text-align: center;
}
	
	#userHolder
{
	position: static;
  width: 100%;
	text-align: center;
	clear: both;
	border-top: thin solid white;
	margin-top: 10px;
	padding: 10px 0;
}

#userPicHolder
{
	text-align: center;
	width: 100%;
}

#userPicHolder img
{
	float: none;
}

#userPicHolder article
{
	width: 100%;
	margin: 0;
	padding: 0;
	border-right: none;
}
	
	/*User Thumb and Settings*/
	
	/*BUDGET MONEY*/
	
	#moneyOnly
	{
		font-size: .9em;
	}
	
	/*BUDGET MONEY*/
	
	/*Go Back*/
	
	.goBack
	{
		position: static;
   margin: auto;
		display: block;
		width: 40px;
	}
	
	/*Go Back*/
	
	/*BANNER*/
	
	.bannerContent
	{
		font-size: .95em;
		padding: 50px 0;
	}
	
	.moneySVG,.refreshSVG,.happySVG
	{
		display: none;
	}
	
	.mobileMoney,.mobileRefresh,.mobileHappy
	{
		width: 35%;
		display: block;
	}
	
	.mobileMoney
	{
		left: 32.5%;
		top: 5px;
	}
	
	.mobileRefresh
	{
		top: 135px;
		left: 15px;
	}
	
	.mobileHappy
	{
		right: 15px;
		top: 135px;
	}
	
	/*BANNER*/
	
	/*SETTING*/
	
	#settingList div
	{
	 width: 70%;
		margin: 10px 0;
	}
	
	span.text-content
	{
		font-size: 1.7em;
		position: static;
		opacity: 1;
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-o-opacity: 1;
		background: none;
	}
	
	#settingPad
	{
		padding-bottom: 130px;
	}
	
	/*SETTING*/
	
	/*UPDATE PRO*/
	
	#updateProfileCon
	{
		width: 100%;
	}
	
	#updateProfileCon fieldset
	{
		width: 100%;
		float: none;
	}
	
	#updatePad
	{
		padding-bottom: 130px;
	}
	
	/*UPDATE PRO*/
	
	#noMember
	{
		width: 80%!important;
		margin-bottom: 10px;
	}
}

/*Device*/
@media only screen and (min-width:380px) and (max-width:414px){
  	/*Main importants*/
	#padding
	{
		padding-bottom: 420px!important;
	}
	
	#logoHolder object,#logoHolder img
	{
		width: 30%;
		float: none;
		margin: 5px auto;
		display: block;
	}
	
	header ul
	{
		width: 90%;
		float: none;
		margin: 10px auto;
	}
	
	header li
	{
		margin: 0 10px;
	}
	
	header ul p
	{
		display: none;
	}
	
	.mainTitle
	{
		width: 100%;
		float: none;
	}
	
	.mainTitle h1
	{
		width: 100%;
	}
	
	.mainTitle p
	{
		width: 100%;
		margin-bottom: 5px;
	}
	
	.break
	{
		display: block;
	}
	
	footer
	{
		text-align: center;
	}
	
	footer ul
	{
		overflow: hidden;
	}
	
	footer li
	{
		display: inline-block;
		float: none;
		margin: 5px 10px!important;
	}
	
	footer p
	{
		line-height: 20px;
	}
	
	p,a,input,select
	{
	 font-size: 1em!important;	
	}
	
	h1,h2,h3,h4,h5,h6,label,button
	{
		font-size: 1.3em!important;
	}
	
	/*Main importants*/
	
	/*FORMS and OPTIONS*/
	
  #intro a
	{
		width: 40%;
		margin: 0;
	}
	
	#intro a:last-child
	{
		margin: 0;
	}
	
	.forms
	{
		width: 100%;
		margin: 0;
		border-radius: 0;
		border: none;
	}
	
	.forms fieldset
	{
		width: 100%!important;
	}
	
	.forms input
	{
	 width: 80%!important;
	}
	
	.neverMind
	{
		width: 70%;
	}
	
	.options
	{
		width: 100%;
	}
	
	.options select
	{
		width: 80%;
	}
	
	.options label
	{
		font-size: 1em!important;
	}
	
	/*FORMS and OPTIONS*/
	
	/*BUTTONS*/
	
	.twoButtons
	{
		float: none;
	}
	
	/*BUTTONS*/
	
	/*Error Msgs*/
	
	.errMsgs
	{
		font-size: 1em!important;
		padding: 0 30px;
		line-height:23px;
	}
	
	/*Error Msgs*/
	
	/*User Thumb and Settings*/
	
	#settings
{
	float: none;
	width: 100%;
	padding-top:10px;
	border-top: thin solid white;
}
	
  .settingMobile
	{
		display: block;
	}

#settings a
{
	display: inline-block;
	width:40%;
	text-align: center;
}
	
	#userHolder
{
	position: static;
  width: 100%;
	text-align: center;
	clear: both;
	border-top: thin solid white;
	margin-top: 10px;
	padding: 10px 0;
}

#userPicHolder
{
	text-align: center;
	width: 100%;
}

#userPicHolder img
{
	float: none;
}

#userPicHolder article
{
	width: 100%;
	margin: 0;
	padding: 0;
	border-right: none;
}
	
	/*User Thumb and Settings*/
	
	/*BUDGET MONEY*/
	
	#moneyOnly
	{
		font-size: .95em;
	}
	
	/*BUDGET MONEY*/
	
	/*Go Back*/
	
	.goBack
	{
		position: static;
   margin: auto;
		display: block;
		width: 40px;
	}
	
	/*Go Back*/
	
	/*BANNER*/
	
	.bannerContent
	{
		font-size: 1.1em;
		padding: 50px 0;
	}
	
	.moneySVG,.refreshSVG,.happySVG
	{
		display: none;
	}
	
	.mobileMoney,.mobileRefresh,.mobileHappy
	{
		width: 35%;
		display: block;
	}
	
	.mobileMoney
	{
		left: 32.5%;
		top: 5px;
	}
	
	.mobileRefresh
	{
		top: 135px;
		left: 15px;
	}
	
	.mobileHappy
	{
		right: 15px;
		top: 135px;
	}
	
	/*BANNER*/
	
	/*SETTING*/
	
	#settingList div
	{
	 width: 50%;
		margin: 10px 0;
	}
	
	span.text-content
	{
		font-size: 1.4em;
		position: static;
		opacity: 1;
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-o-opacity: 1;
		background: none;
	}
	
	#settingPad
	{
		padding-bottom: 130px;
	}
	
	/*SETTING*/
	
	/*UPDATE PRO*/
	
	#updateProfileCon
	{
		width: 100%;
	}
	
	#updateProfileCon fieldset
	{
		width: 100%;
		float: none;
	}
	
	#updatePad
	{
		padding-bottom: 130px;
	}
	
	/*UPDATE PRO*/
	
	#noMember
	{
		width: 80%!important;
		margin-bottom: 10px;
	}
}

/*Galaxy S*/
@media only screen and (min-width: 415px) and (max-width: 480px) {
		/*Main importants*/
	#padding
	{
		padding-bottom: 420px!important;
	}
	
	#logoHolder object,#logoHolder img
	{
		width: 70px;
		float: none;
		margin: 5px auto;
		display: block;
	}
	
	header ul
	{
		width: 90%;
		float: none;
		margin: 10px auto;
	}
	
	header li
	{
		margin: 0 10px;
	}
	
	header ul p
	{
		display: none;
	}
	
	.mainTitle
	{
		width: 100%;
		float: none;
	}
	
	.mainTitle h1
	{
		width: 100%;
	}
	
	.mainTitle p
	{
		width: 100%;
		margin-bottom: 5px;
	}
	
	.break
	{
		display: block;
	}
	
	footer
	{
		text-align: center;
	}
	
	footer ul
	{
		overflow: hidden;
	}
	
	footer li
	{
		display: inline-block;
		float: none;
		margin: 5px 10px!important;
	}
	
	footer p
	{
		line-height: 20px;
	}
	
	p,a,input,select
	{
	 font-size: 1em!important;	
	}
	
	h1,h2,h3,h4,h5,h6,label,button
	{
		font-size: 1.3em!important;
	}
	
	/*Main importants*/
	
	/*FORMS and OPTIONS*/
	
  #intro a
	{
		width: 40%;
		margin: 0;
	}
	
	#intro a:last-child
	{
		margin: 0;
	}
	
	.forms
	{
		width: 100%;
		margin: 0;
		border-radius: 0;
		border: none;
	}
	
	.forms fieldset
	{
		width: 100%!important;
	}
	
	.forms input
	{
	 width: 80%!important;
	}
	
	.neverMind
	{
		width: 75%;
	}
	
	.options
	{
		width: 100%;
	}
	
	.options select
	{
		width: 80%;
	}
	
	.options label
	{
		font-size: 1em!important;
	}
	
	/*FORMS and OPTIONS*/
	
	/*BUTTONS*/
	
	.twoButtons
	{
		float: none;
	}
	
	/*BUTTONS*/
	
	/*Error Msgs*/
	
	.errMsgs
	{
		font-size: 1.2em!important;
		padding: 0 30px;
		line-height:28px;
	}
	
	/*Error Msgs*/
	
	/*User Thumb and Settings*/
	
	#settings
{
	float: none;
	width: 100%;
	padding-top:10px;
	border-top: thin solid white;
}
	
  .settingMobile
	{
		display: block;
	}

#settings a
{
	display: inline-block;
	width:40%;
	text-align: center;
}
	
	#userHolder
{
	position: static;
  width: 100%;
	text-align: center;
	clear: both;
	border-top: thin solid white;
	margin-top: 10px;
	padding: 10px 0;
}

#userPicHolder
{
	text-align: center;
	width: 100%;
}

#userPicHolder img
{
	float: none;
}

#userPicHolder article
{
	width: 100%;
	margin: 0;
	padding: 0;
	border-right: none;
}
	
	/*User Thumb and Settings*/
	
	/*BUDGET MONEY*/
	
	#moneyOnly
	{
		font-size: .95em;
	}
	
	/*BUDGET MONEY*/
	
	/*Go Back*/
	
	.goBack
	{
		position: static;
   margin: auto;
		display: block;
		width: 40px;
	}
	
	/*Go Back*/
	
	/*BANNER*/
	
	.bannerContent
	{
		font-size: 1.15em;
		padding: 50px 0;
	}
	
	.moneySVG,.refreshSVG,.happySVG
	{
		display: none;
	}
	
	.mobileMoney,.mobileRefresh,.mobileHappy
	{
		width: 30%;
		display: block;
	}
	
	.mobileMoney
	{
		left: 35%;
		top: 5px;
	}
	
	.mobileRefresh
	{
		top: 145px;
		left: 15px;
	}
	
	.mobileHappy
	{
		right: 15px;
		top: 145px;
	}
	
	/*BANNER*/
	
	/*SETTING*/
	
	#settingList div
	{
	 width: 50%;
		margin: 10px 0;
	}
	
	span.text-content
	{
		font-size: 1.6em;
		position: static;
		opacity: 1;
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-o-opacity: 1;
		background: none;
	}
	
	#settingPad
	{
		padding-bottom: 130px;
	}
	
	/*SETTING*/
	
	/*UPDATE PRO*/
	
	#updateProfileCon
	{
		width: 100%;
	}
	
	#updateProfileCon fieldset
	{
		width: 100%;
		float: none;
	}
	
	#updatePad
	{
		padding-bottom: 132px;
	}
	
	/*UPDATE PRO*/
	
	#noMember
	{
		width: 80%!important;
		margin-bottom: 10px;
	}
}

/*Kindle*/
@media only screen and (min-width: 481px) and (max-width: 533px) {
		/*Main importants*/
	#padding
	{
		padding-bottom: 300px!important;
	}
	
	#logoHolder object,#logoHolder img
	{
		width: 70px;
		float: none;
		margin: 5px auto;
		display: block;
	}
	
	header ul
	{
		width: 90%;
		float: none;
		margin: 10px auto;
	}
	
	header li
	{
		margin: 0 10px;
	}
	
	header ul p
	{
		display: none;
	}
	
	.mainTitle
	{
		width: 100%;
		float: none;
	}
	
	.mainTitle h1
	{
		width: 100%;
	}
	
	.mainTitle p
	{
		width: 100%;
		margin-bottom: 5px;
	}
	
	.break
	{
		display: block;
	}
	
	footer
	{
		text-align: center;
	}
	
	footer ul
	{
		overflow: hidden;
	}
	
	footer li
	{
		display: inline-block;
		float: none;
		margin: 5px 10px!important;
	}
	
	footer p
	{
		line-height: 20px;
	}
	
	p,a,input,select
	{
	 font-size: 1em!important;	
	}
	
	h1,h2,h3,h4,h5,h6,label,button
	{
		font-size: 1.3em!important;
	}
	
	/*Main importants*/
	
	/*FORMS and OPTIONS*/
	
  #intro a
	{
		width: 40%;
		margin: 0;
	}
	
	#intro a:last-child
	{
		margin: 0;
	}
	
	.forms
	{
		width: 100%;
		margin: 0;
		border-radius: 0;
		border: none;
	}
	
	.forms fieldset
	{
		width: 100%!important;
	}
	
	.forms input
	{
	 width: 80%!important;
	}
	
	.neverMind
	{
		width: 75%;
	}
	
	.options
	{
		width: 100%;
	}
	
	.options select
	{
		width: 80%;
	}
	
	.options label
	{
		font-size: 1em!important;
	}
	
	/*FORMS and OPTIONS*/
	
	/*BUTTONS*/
	
	.twoButtons
	{
		float: none;
	}
	
	/*BUTTONS*/
	
	/*Error Msgs*/
	
	.errMsgs
	{
		font-size: 1.2em!important;
		padding: 0 60px;
		line-height:28px;
	}
	
	/*Error Msgs*/
	
	/*User Thumb and Settings*/
	
	#settings
{
	float: none;
	width: 100%;
	padding-top:10px;
	border-top: thin solid white;
}
	
  .settingMobile
	{
		display: block;
	}

#settings a
{
	display: inline-block;
	width:40%;
	text-align: center;
}
	
	#userHolder
{
	position: static;
  width: 100%;
	text-align: center;
	clear: both;
	border-top: thin solid white;
	margin-top: 10px;
	padding: 10px 0;
}

#userPicHolder
{
	text-align: center;
	width: 100%;
}

#userPicHolder img
{
	float: none;
}

#userPicHolder article
{
	width: 100%;
	margin: 0;
	padding: 0;
	border-right: none;
}
	
	/*User Thumb and Settings*/
	
	/*BUDGET MONEY*/
	
	#moneyOnly
	{
		font-size: 1.1em;
	}
	
	/*BUDGET MONEY*/
	
	/*Go Back*/
	
	.goBack
	{
		position: static;
   margin: auto;
		display: block;
		width: 40px;
	}
	
	/*Go Back*/
	
	/*BANNER*/
	
	.bannerContent
	{
		font-size: 1em;
		padding: 50px 0;
	}
	.opening
	{
		top: 20px;
	}
	
	/*BANNER*/
	
	/*SETTING*/
	
	span.text-content
	{
		font-size: 1.1em;
		position: static;
		opacity: 1;
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-o-opacity: 1;
		background: none;
	}
	
	#settingPad
	{
		padding-bottom: 150px;
	}
	
	/*SETTING*/
	
	/*UPDATE PRO*/
	
	#updateProfileCon
	{
		width: 100%;
	}
	
	#updateProfileCon fieldset
	{
		width: 100%;
		float: none;
	}
	
	#updatePad
	{
		padding-bottom: 135px;
	}
	
	/*UPDATE PRO*/
	
	#noMember
	{
		width: 80%!important;
		margin-bottom: 10px;
	}
}

/*Nook Tablet*/
@media only screen and (min-width: 534px) and (max-width: 600px) {
		/*Main importants*/
	#padding
	{
		padding-bottom: 300px!important;
	}
	
	#logoHolder object,#logoHolder img
	{
		width: 70px;
		float: none;
		margin: 5px auto;
		display: block;
	}
	
	header ul
	{
		width: 90%;
		float: none;
		margin: 10px auto;
	}
	
	header li
	{
		margin: 0 10px;
	}
	
	header ul p
	{
		display: none;
	}
	
	.mainTitle
	{
		width: 100%;
		float: none;
	}
	
	.mainTitle h1
	{
		width: 100%;
	}
	
	.mainTitle p
	{
		width: 100%;
		margin-bottom: 5px;
	}
	
	.break
	{
		display: block;
	}
	
	footer
	{
		text-align: center;
	}
	
	footer ul
	{
		overflow: hidden;
	}
	
	footer li
	{
		display: inline-block;
		float: none;
		margin: 5px 10px!important;
	}
	
	footer p
	{
		line-height: 20px;
	}
	
	p,a,input,select
	{
	 font-size: 1.1em!important;	
	}
	
	h1,h2,h3,h4,h5,h6,label,button
	{
		font-size: 1.5em!important;
	}
	
	/*Main importants*/
	
	/*FORMS and OPTIONS*/
	
  #intro a
	{
		width: 30%;
		margin: 0 10px;
	}

	.forms
	{
		width: 100%;
		margin: 0;
		border-radius: 0;
		border: none;
	}
	
	.forms fieldset
	{
		width: 100%!important;
	}
	
	.forms input
	{
	 width: 80%!important;
	}
	
	.options
	{
		width: 100%;
	}
	
	.options select
	{
		width: 80%;
	}
	
	.options label
	{
		font-size: 1em!important;
	}
	
	/*FORMS and OPTIONS*/
	
	/*BUTTONS*/
	
	.twoButtons
	{
		float: none;
	}
	
	/*BUTTONS*/
	
	/*Error Msgs*/
	
	.errMsgs
	{
		font-size: 1.3em!important;
		padding: 0 80px;
		line-height:30px;
	}
	
	/*Error Msgs*/
	
	/*User Thumb and Settings*/
	
	#settings
{
	float: none;
	width: 100%;
	padding-top:10px;
	border-top: thin solid white;
}
	
  .settingMobile
	{
		display: block;
	}

#settings a
{
	display: inline-block;
	width:40%;
	text-align: center;
}
	
	#userHolder
{
	position: static;
  width: 100%;
	text-align: center;
	clear: both;
	border-top: thin solid white;
	margin-top: 10px;
	padding: 10px 0;
}

#userPicHolder
{
	text-align: center;
	width: 100%;
}

#userPicHolder img
{
	float: none;
}

#userPicHolder article
{
	width: 100%;
	margin: 0;
	padding: 0;
	border-right: none;
}
	
	/*User Thumb and Settings*/
	
	/*Go Back*/
	
	.goBack
	{
		position: static;
   margin: auto;
		display: block;
		width: 40px;
	}
	
	/*Go Back*/
	
	/*BANNER*/
	
	.bannerContent
	{
		font-size: 1.2em;
		padding: 50px 0;
	}
	.opening
	{
		top: 12px;
	}
	
	/*BANNER*/
	
	/*SETTING*/
	
	span.text-content
	{
		font-size: 1.1em;
		position: static;
		opacity: 1;
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-o-opacity: 1;
		background: none;
	}
	
	#settingPad
	{
		padding-bottom: 150px;
	}
	
	/*SETTING*/
	
	/*UPDATE PRO*/
	
	#updateProfileCon
	{
		width: 100%;
	}
	
	#updateProfileCon fieldset
	{
		width: 100%;
		float: none;
	}
	
	#updatePad
	{
		padding-bottom: 135px;
	}
	
	/*UPDATE PRO*/
	
	#noMember
	{
		width: 80%!important;
		margin-bottom: 10px;
	}
}

/*Apple Ipad*/
@media only screen and (min-width: 601px) and (max-width: 768px) {
	p,a,input,select
	{
	 font-size: 1em!important;	
	}
	
	h1,h2,h3,h4,h5,h6,label,button
	{
		font-size: 1.2em!important;
	}

	.mainTitle
	{
		width: 60%;
	}
	
	.mainTitle h1
	{
		width: 60%;
	}
	
	#logoHolder
	{
		width: 20%;
		overflow: hidden;
		float: left;
	}
	
	#logoHolder object, #logoHolder img
	{
		width: 80px;
	}
	
	header ul
	{
		width: 20%;
	}
	
	header li
	{
		margin: 0 3px;
	}
	
	footer
	{
		font-size: .8em;
	}
	
	.neverMind
	{
		width: 32%;
	}
	
	#budgetForm
	{
		width: 60%;
	}
	
	/*Error Msgs*/
	
	.errMsgs
	{
		font-size: 1em!important;
		line-height:22px;
	}
	
	/*Error Msgs*/
	
	/*USER AND SETTINGS*/
	
	#settings
	{
		width: 20%;
		text-align: right;
	}
	
	#settings a
	{
    display: block;
		float: none;
	}
	
	#settings object, #settings img
	{
		width: 23px;
	}
	
	#userHolder
	{
		width: 190px;
		right: 5.5%;
		overflow: hidden;
	}
	
	#userPicHolder article
	{
		width: 125px;
		height: 53px;
	}
	
	#userPicHolder article h3,#userPicHolder article p,#userPicHolder article a
	{
		font-size: 10px!important;
		padding: 3.5px 0;
	}
	
	#userPicHolder img
	{
		width: 50px;
	}
	
	/*USER AND SETTINGS*/
	
	/*BUDGET MONEY*/
	
	#moneyOnly
	{
		font-size: .7em;
	}
	
	/*BUDGET MONEY*/
	
	/*Go Back*/
	
	.goBack
	{
		width: 45px;
	}
	
	/*Go Back*/
	
	/*BANNER*/
	
	.bannerContent
	{
		font-size: 1.4em;
		padding: 75px 0;
	}
	
	.opening
	{
		top: 10px;
	}
	/*BANNER*/
	
	/*SETTING*/
	
	span.text-content
	{
		font-size: 1.6em;
		position: static;
		opacity: 1;
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-o-opacity: 1;
		background: none;
	}
	
	#settingPad
	{
		padding-bottom: 170px;
	}
	
	/*SETTING*/
	
	/*UPDATE PRO*/
	
	#updateProfileCon input
	{
		width: 95%;
	}

	#updatePad
	{
		padding-bottom: 70px;
	}
	
	/*UPDATE PRO*/
	
	
}

/*Desktop1*/
@media only screen and (min-width: 768px) and (max-width: 980px) {
	p,a,input,select
	{
	 font-size: 1em!important;	
	}
	
	h1,h2,h3,h4,h5,h6,label,button
	{
		font-size: 1.4em!important;
	}
	
	.mainTitle
	{
		width: 60%;
	}
	
	.mainTitle h1
	{
		width: 60%;
	}
	
	#logoHolder
	{
		width: 20%;
		overflow: hidden;
		float: left;
	}
	
	#logoHolder object, #logoHolder img
	{
		width: 85px;
	}
	
	header img
	{
		width: 100px;
	}
	
	header ul
	{
		width: 20%;
	}
	
	header li
	{
		margin: 0 3px;
	}
	
	footer
	{
		font-size: .9em;
	}
	
	.neverMind
	{
		width: 32%;
	}
	
	/*Error Msgs*/
	
	.errMsgs
	{
		font-size: .9em!important;
	}
	
	/*Error Msgs*/
	
	/*USER AND SETTINGS*/
	
	#settings
	{
		width: 20%;
		text-align: right;
	}
	
	#settings a
	{
    display: block;
		float: none;
	}
	
	#settings object, #settings img
	{
		width: 25px;
	}
	
	#userHolder
	{
		width: 190px;
		overflow: hidden;
	}
	
	#userPicHolder article
	{
		width: 125px;
		height: 53px;
	}
	
	#userPicHolder article h3,#userPicHolder article p,#userPicHolder article a
	{
		font-size: 10px!important;
		padding: 3.5px 0;
	}
	
	#userPicHolder img
	{
		width: 50px;
	}
	
	/*USER AND SETTINGS*/
	
	/*Budget Page*/
	
	#userWelcome
	{
		line-height: 35px;
		font-size: 1.4em!important;
	}
	
	/*Budget Page*/
	
		/*Go Back*/
	
	.goBack
	{
		width: 45px;
	}
	
	/*Go Back*/
	
	/*BANNER*/
	
	.bannerContent
	{
		font-size: 2em;
		padding: 90px 0;
	}

	/*BANNER*/
	
		/*SETTING*/
	
	span.text-content
	{
		font-size: 1.6em;
	}
	
	/*SETTING*/
	
}

/*Desktop 4*/
@media only screen and (min-width: 1367px) {
	p
	{
	 font-size: 1.2em!important;	
	}
	
	h1,h2,h3,h4,h5,h6
	{
		font-size: 2em!important;
	}
	
	.mainTitle
	{
		width: 60%;
	}
	
	.mainTitle h1
	{
		width: 60%;
	}
	
	#logoHolder
	{
		width: 20%;
		overflow: hidden;
		float: left;
	}
	
	#logoHolder object, #logoHolder img
	{
		width: 100px;
	}
	
	header img
	{
		width: 100px;
	}
	
	header ul
	
	{
		width: 20%;
	}
	
	header li
	{
		margin: 0 3px;
	}
	
	footer
	{
		font-size: 1.1em;
	}
	
	/*Error Msgs*/
	
	.errMsgs
	{
		font-size: .9em!important;
	}
	
	/*Error Msgs*/
	
	/*USER AND SETTINGS*/
	
	#settings
	{
		width: 20%;
		text-align: right;
	}
	
	#userHolder
	{
		top: 2%;
	}
	
	#userPicHolder article h3,#userPicHolder article p,#userPicHolder article a
	{
		font-size: 12px!important;
		padding: 6px 0;
	}
	
	/*USER AND SETTINGS*/
	
	/*Budget Page*/
	
	#userWelcome
	{
		line-height: 50px;
		font-size: 1.8em!important;
	}
	
	#moneyOnly
	{
		font-size: 1.2em;
	}
	
	/*Budget Page*/
	
		/*Go Back*/
	
	.goBack
	{
		top: 1%;
	}
	
	/*Go Back*/
	
	#updatePad
	{
		padding-bottom: 70px;
	}
	
	
	
}