<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
      <% include ../partials/headerWithSet %>
       <script src="/javascripts/dropDown.js"></script>
    </header>

    <div id="padding"><!--for bottom padding. keep footer down!-->

<form class="forms" id="uploadForm" action="/confirmPicture" method="post" enctype="multipart/form-data">
      <h1><%= profilePic %> <%= user %></h1>
      
      <img src="<%= image %>" name="userPhoto" alt="Your Avatar"/>

      <input class="mainButton" type="submit" value="Confirm" name="submit">
      <a class="neverMind" href="/profilePicture">Not This One!</a>
</form>

    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
