<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
      <% include ../partials/header %>
    </header>

    <div class="padding"><!--for bottom padding. keep footer down!-->

      <div class="forms">
        <form role="form" action="/changePass" method="post">
          <h1><%= noMatch %></h1>
          <label><%= label1 %></label>
          <input type="text" name="currentPass">
          <label><%= label2 %></label>
          <input type="password" name="newPass">
          <input class="mainButton" type="submit" value="Change">
          <a href="/login">I remembered my password</a>
        </form>
      </div>
      
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
