<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
<script src="/javascripts/myAngular.js"></script>
</head>
<body ng-app="budgetOptions">
    <header>
      <% include ../partials/headerWithSet %>
    </header>

    <div id="favHolder">

      <!--<h3><%= yourFavs %></h3>-->

      <form class="favForm" action="/favorites" method="post" ng-controller="optionCtrl">

        <div class="favoriteSelector">
  <label data-ng-repeat="type in types">
<input type="checkbox" ng-model="type.Favorite" name="favorites" value="{{type.Type}}" style="display:none">  <object data-ng-data="{{type.SVG}}">
  <img data-ng-src="{{type.PNG}}" alt="{{type.Type}}">
</object>
  </label>
        </div>

        <button id="favSubmit" type="submit">
          <span id="wordChange">{{selected()}}</span>
        </button>

      </form>
          
    </div><!--fav Holder-->
      
    <footer class="relative">
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
