<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
<script src="/javascripts/myAngular.js"></script>
</head>
<body ng-app="budgetOptions">
    <header>
      <% include ../partials/headerWithSet %>

    </header>

    <div id="favHolder">

      <form class="favForm" action="/favorites" method="post" ng-controller="optionCtrl">
            <ul class="favList">
<li data-ng-repeat="type in types"
data-ng-click="toggleFav(type)"
class="type-{{type.Favorite}} slide"
value="{{type.Cookie}}"
name="foodTypes">
<object data-ng-data="{{type.SVG}}">
  <img data-ng-src="{{type.PNG}}" alt="{{type.Type}}">
</object>
<div>
<span class="fav-content">{{type.Type}}</span>
<object class="checked" data-ng-data="/images/icons/favs/checked.svg">
  <img data-ng-src="/images/icons/favs/checked.png" alt="Check Mark">
</object>
</div>
</li>
            </ul>
<button class="slide" id="favSubmit" type="submit" name="submit">
<span id="wordChange">{{selected()}}</span>
</button>
      </form>

    </div><!--fav Holder-->
      
    <footer class="relative">
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
