<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
<script src="/javascripts/myAngular.js"></script>
</head>
<body ng-app="budgetOptions">
    <header>
      <% include ../partials/headerWithSet %>
    </header>

    <div id="favHolder">

    <form class="favForm" action="/favorites" method="post" ng-controller="optionCtrl">

        <p><%= yourFavs %></p>

        <div class="errorMsgs">
          <p><%= favorites %></p>
          <p><%= favsError %></p>
        </div>

        <div id="cravingAll">
          <p>I Want Everything!</p>
          <div class="everything">
            <input type="checkbox" id="everything" ng-model="selectedAll" ng-click="checkAll()">
            <label for="everything"></label>
          </div>
        </div>

        <div class="favoriteSelector" data-ng-repeat="type in types">
          <div class="FOODS">
            <object data="{{type.SVG}}">
              <img data-ng-src="{{type.PNG}}" alt="{{type.Type}}"/>
            </object>
          </div>
          <h3>{{type.Type}}</h3>
  <div class="slider"> 
  <input type="checkbox"
  class="decide"
  ng-model="type.Favorite"
  ng-checked="$storage.userFav[type.Type]"
  ng-click="$storage.userFav[type.Type] = type.Favorite"
  value="{{type.Type}}"
  id="{{type.Type}}"
  name="favorites">
  <label for="{{type.Type}}"></label>
  </div>
        </div>

        <!--
        <div ng-repeat="(key, value) in $storage.userFav">
            Foods: {{key}}: {{value}}
        </div>
      -->

        <button id="favSubmit" type="submit">
          <span id="wordChange">{{selected()}}</span>
        </button>

      </form>          
    </div><!--fav Holder-->
      
    <footer class="relative">
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
