<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script src="/javascripts/openingTween.js"></script>
</head>
<body>
    <header>
      <% include ../partials/header %>
    </header>

    <div id="padding">

<div id="intro">
  <h3><%= subTitle %></h3>
    <a href="/login">Login</a>
    <a href="/signUp">Register</a>
</div>

<div id="openingBanner">
  <button class="moneySVG buttons">
    <div class="infoText">
      <h3>What is Easy Eats?</h3>
      <p><span class="firstWord">Easy Eats</span> is a food finding app, where I take your entered budget along with your location &amp; I give you results of restaurants in your area. Those restaurants will match your budget and ONLY show you food in which you can afford.</p>
    </div>
  </button>
  <div class="mobileText">
      <h3>What is Easy Eats?</h3>
      <p><span class="firstWord">Easy Eats</span> is a food finding app, where I take your entered budget along with your location &amp; I give you results of restaurants in your area. Those restaurants will match your budget and ONLY show you food in which you can afford.</p>
  </div>
  <!--MONEY-->

  <button class="refreshSVG buttons">
    <div class="infoText">
      <h3>How It Works?</h3>
      <p><span class="firstWord">Example:</span> If you've entered $10.00, Easy Eats will only show you results where you CAN afford to eat. It's quick, &amp; it's personal. Easy Eats has a 'Cravings' option where you can choose to filter your searches with finer results.</p>
    </div>
  </button>
  <div class="mobileText">
      <h3>How It Works?</h3>
      <p><span class="firstWord">Example:</span> If you've entered $10.00, Easy Eats will only show you results where you CAN afford to eat. It's quick, &amp; it's personal. Easy Eats has a 'Cravings' option where you can choose to filter your searches with finer results.</p>
  </div>
  <!--REFRESH-->

  <button class="happySVG buttons">
    <div class="infoText">
      <h3>Where To Find It?</h3>
      <p><span class="firstWord">Easy Eats</span> is a responsive website. From mobile to desktop, no matter where you may be, Easy Eats will always be at your finger tips. Always there to keep the user happy &amp; <span class="firstWord">FULL!</span></p>
    </div>
  </button>
  <div class="mobileText">
      <h3>Where To Find It?</h3>
      <p><span class="firstWord">Easy Eats</span> is a responsive website. From mobile to desktop, no matter where you may be, Easy Eats will always be at your finger tips. Always there to keep the user happy &amp; <span class="firstWord">FULL!</span></p>
  </div>
  <!--HAPPY-->
</div>

  </div>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
