<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
      <% include ../partials/header %>
    </header>

    <div class="padding"><!--for bottom padding. keep footer down!-->

    <form class="forms" id="loginForm"><!--action="budget" method="post"-->
    	<h1><%= formTitle %></h1>
        <fieldset>
            <label><%= username %></label>
            <input type="text" name="username">
        </fieldset>
        <fieldset>
            <label><%= password %></label>
            <input type="password">
        </fieldset>
        <a class="twoButtons" id="noMember" href="signup">Register</a>
    	<input class="twoButtons" type="submit" value="<%= Login %>">
    </form>

    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
