<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
      <% include ../partials/header %>
    </header>      

    <div id="updatePad" class="relative">
        <div class="messagesHolder">
          <p><%= sent %></p>
          <p><%= profileUpdated %></p>
          <p><%= deleted %></p>
          <a href="/">
            <div>
              <object data="/images/icons/favs/checked.svg">
                <img src="/images/icons/favs/checked.svg" alt="Check Mark">
              </object>
            </div>
          </a>
        </div>
    </div>
      
    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
