<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script src="/javascripts/uploads.js"></script>
</head>
<body>
    <header>
      <% include ../partials/headerWithSet %>
       <script src="/javascripts/dropDown.js"></script>
    </header>

    <div id="padding"><!--for bottom padding. keep footer down!-->

    <form class="forms" id="uploadForm" enctype="multipart/form-data" action="/profilePicture" method="post">
      <h1><%= profilePic %> <%= user %></h1>

      <div class="errorMsgs">
          <p><%= noUpload %></p>
          <p><%= goodUpload %></p>
      </div>

      <input type="file" name="userPhoto">
      <input class="mainButton" type="submit" value="Upload Image" name="submit">
      <a class="neverMind" href="/budget">Never Mind</a>
    </form>

    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
