<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
      <% include ../partials/header %>
    </header>

    <div id="padding"><!--for bottom padding. keep footer down!-->

<form class="forms" id="uploadForm" action="/profilePicture" method="post" enctype="multipart/form-data">
      <h1><%= profilePic %> <%= user %></h1>
      <h5 class="errMsgs"><%= noUpload %></h5>

      <div class="fileUpload">
        <span></span>
        <input id="uploadBtn" type="file" name="userPhoto" class="upload" required>
      </div>
      <input id="uploadFile" placeholder="Choose Image" disabled="disabled"/>

      <input class="mainButton" type="submit" value="Upload Image" name="submit">
      <a class="neverMind" href="/budget">Never Mind</a>
</form>

    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>

<script type="text/javascript">
  document.getElementById("uploadBtn").onchange = function () {
    document.getElementById("uploadFile").value = this.value;
};
</script>
  </body>
</html>
