<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script src="/javascripts/confirm.js"></script>
</head>
<body ng-app="confirmPass">
    <header>
      <% include ../partials/header %>
    </header>

    <div class="padding"><!--for bottom padding. keep footer down!-->

        <form role="form" name="form" class="forms resetForm" method="post">
          <h1>Enter Both Fields</h1>
          <span><%= error %></span>
          <fieldset>
            <label>New Password</label>
            <input type="password" name="password" value="" ng-model="reset.password" required>
          </fieldset>
          <fieldset>
            <label>Confirm Password</label>
    <input type="password" name="verify" value="" ng-model="reset.verify" nx-equal="reset.password" required>
            <span class="error" ng-show="form.verify.$error.nxEqual">Must Match!</span>
          </fieldset>
          <input class="mainButton" type="submit" value="Update Password">
        </form>
      
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
