<!DOCTYPE html>
<html class="mapBody" lang="en">
<head>
    <% include ../partials/head %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMMAihXyTWvALvpK_I6csYCv_rt0eivnA&libraries=places">
    </script>

    <style>
    body,html
{
  width: 100%;
  height: 100%;
}

#map
{
  width: 100%!important;
  height: 350px!important;
}
    </style>
</head>
<body>
    <header>
      <% include ../partials/headerWithSet %>
      <script src="/javascripts/dropDown.js"></script>
    </header>

      <section class="forms" id="restaurantsHolder">
        <h1><%= subTitle %><span class="status"></span></h1>
        <div id="spendingCon">
          <p>Easy Eats can see that you have <span id="userBudget">$<%= budget %></span> to spend. Let's not waste any more time! <span class="break"></span>Located on the map below are restaurants in your area.</p>

          <a href="/budget" title="Go Back" id="first">
            <div>
              <object data="images/icons/restaurants/back.svg">
                <img src="images/icons/restaurants/back.png" alt="Back to 'Food Finder'"/>
              </object>
            </div>
          </a>
          
          <a href="/favorites" title="Change Favorites" id="second">
            <div>
              <object data="images/icons/restaurants/favorite.svg">
               <img src="images/icons/restaurants/favorite.png" alt="Favorites"/>
              </object>
            </div>
          </a>

          <span class="mapInstuctions back">Go Back</span>
          <span class="mapInstuctions favorites">Favorites</span>

        </div>

      </section>

    <div id="map"></div>

    <footer class="relative">
      <p id="address"><span id="yourAddress">Address</span><span id="userAddress"></span></p>
      <% include ../partials/footer %>
    </footer>

<script src="/javascripts/geoMap.js"></script>
</body>
</html>
