<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0G13t14G1RY1GcKf3ElLy5sHARKQ7jMU&libraries=places">
</script>

<script src="/javascripts/geoMap.js"></script>
</head>
<body>
    <header>
      <% include ../partials/headerWithSet %>
    </header>

    <div class="padding"><!--for bottom padding. keep footer down!-->

      <section class="forms" id="restaurantsHolder">
        <h1><%= subTitle %></h1>
        <div id="spendingCon">
          <p><%= budget %></p>
        </div>
        <div class="foundYou">
          <p>Your Top Restaurant Choices!</p>
          <span class="status">Waiting For You...</span>
        </div>
        <a href="/favorites">
          <div id="tuner">
            <p>Tune your craving here!</p>
          </div>
        </a>

        <div class="mapHolder">
          <div id="map"></div>
        </div>

        <a href="/budget" id="backFinder" title="Go Back">
          <div>
            <object data="images/icons/home.svg">
              <img src="images/icons/home.png" alt="Back to 'Food Finder'">
            </object>
          </div>
        </a>

      </section>
      
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
