<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
      <% include ../partials/header %>
    </header>

    <div class="padding"><!--for bottom padding. keep footer down!-->

      <p class="hidden" id="startLat"></p>
      <p class="hidden" id="startLon"></p>

      <section>
        <h3><%= title %></h3>
        <h5><%= subTitle %></h5>
      </section>

      <a id="logout" href="/logout">
        <!--<div>
          <object data="/images/icons/logout.svg">
            <img src="/images/icons/logout.png">
          </object>
        </div>-->
      </a>
      
    </div>

    <footer>
      <script src="/javascripts/geo.js"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js"></script>-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0G13t14G1RY1GcKf3ElLy5sHARKQ7jMU&libraries=places"></script>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
