<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0G13t14G1RY1GcKf3ElLy5sHARKQ7jMU&libraries=places" async defer></script>
<script src="/javascripts/geoMap.js"></script>
</head>
<body>
    <header>
      <% include ../partials/header %>
    </header>

    <div class="padding"><!--for bottom padding. keep footer down!-->

      <section class="forms" id="restaurantsHolder">
        <h1><%= title %></h1>
        <h5><%= subTitle %></h5>
        <p><%= budget %></p>
        <div id="foundYou">
          <div id="map"></div>
          <p>These Are Some Restaurants Near Your Location</p>
          <span id="status">Waiting For You...</span>
        </div>
        <a href="/budget" class="twoButtons">Back To Finder</a>
      </section>

      <a id="logout" href="/logout">
        <!--<div>
          <object data="/images/icons/logout.svg">
            <img src="/images/icons/logout.png">
          </object>
        </div>-->
      </a>
      
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
