<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
      <% include ../partials/headerWithSet %>
      <script src="/javascripts/dropDown.js"></script>
    </header>

    <div id="padding" class="mapPad"><!--cause of the address.-->

      <section class="forms" id="restaurantsHolder">
        <h1><%= subTitle %><span class="status"></span></h1>
        <div id="spendingCon">
          <p>Easy Eats can see that you have <span id="userBudget">$<%= budget %></span> to spend. Let's not waste any more time! <span class="break"></span>Located on the map below are restaurants in your area.</p>

          <a href="/budget" title="Go Back" id="first">
            <div>
              <object data="images/icons/restaurants/back.svg">
                <img src="images/icons/restaurants/back.png" alt="Back to 'Food Finder'"/>
              </object>
            </div>
          </a>
          
          <a href="/favorites" title="Change Favorites" id="second">
            <div>
              <object data="images/icons/restaurants/favorite.svg">
               <img src="images/icons/restaurants/favorite.png" alt="Favorites"/>
              </object>
            </div>
          </a>

          <span class="mapInstuctions back">Go Back</span>
          <span class="mapInstuctions favorites">Favorites</span>

        </div>

        <div id="map"></div>

      </section>
      
    </div>

    <footer>
      <p id="address"><span id="yourAddress">Address</span><span id="userAddress"></span></p>
      <% include ../partials/footer %>
    </footer>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0G13t14G1RY1GcKf3ElLy5sHARKQ7jMU&libraries=places"></script>
<script src="/javascripts/geoMap.js"></script>
</body>
</html>
