<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <!--<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>-->
</head>
<body>
    <header>
      <% include ../partials/header %>
    </header>

    <div class="padding"><!--for bottom padding. keep footer down!-->

      <div id="settingList">
          <a href="#/">
            <div>
            <object data="/images/icons/updateBio.svg">
              <img src="/images/icons/updateBio.png" alt="Update Biography">
            </object>
            <span class="text-content"><span><%= updateBio %></span></span>
            </div>
          </a>
          <a href="/forgotPass">
            <div>
            <object data="/images/icons/password.svg">
              <img src="/images/icons/password.png" alt="Reset Password">
            </object>
            <span class="text-content"><span><%= reset %></span></span>
            </div>
          </a>
          <a href="/profilePicture">
            <div>
            <object data="/images/icons/profilePic.svg">
              <img src="/images/icons/profilePic.png" alt="Change Profile Picture">
            </object>
            <span class="text-content"><span><%= picture %></span></span>
            </div>
          </a>
          <a href="#/">
            <div>
            <object data="/images/icons/favorite.svg">
              <img src="/images/icons/favorite.png" alt="Change Favorites">
            </object>
            <span class="text-content"><span><%= favorite %></span></span>
            </div>
          </a>
          <a class="goBack" href="/budget">Go Back</a>
      </div>
      
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
